@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/stretch-pro');

/* body{
    background-color: #6A0F7Bp;
} */


@font-face {
    font-family: 'Monument';
    src: url('./assets/MonumentExtended-Ultrabold.otf') format('opentype');
  }

.stretch {
    font-family: 'Stretch Pro', sans-serif;
}
.monument { 
    font-family: 'Monument', sans-serif;
}

.heroback{
    background: url('./assets/LINES.svg');
    background-color: #6A0F7B;
    background-position: center;
}
.back1{
    background: url('./assets/greencheckback.svg'); 
    background-position: center;
}